.hero-section {
  background-image: url(../img/hero/hero-bg-mob.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: auto;
  padding-top: 132px;
  padding-bottom: 24px;
  max-width: 375px;
  margin: 0 auto;

  @include media(desktop) {
    background-image: url(../img/hero/hero-bg-desk.png);
    padding-top: 179.5px;
    padding-bottom: 141.5px;
    max-width: 1440px;
  }
}

.hero-title {
  font-family: 'Wallpoet', sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14286;
  text-transform: uppercase;
  text-align: center;
  color: #f2f2f2;
  margin-bottom: 369px;
}

.hero-text {
  font-family: 'VT323', sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: #00fff7;
  margin-bottom: 24px;

  @include media(desktop) {
    text-align: left;
    max-width: 528px;
    font-size: 20px;
  }
}

.hero-btn-wrapper {
  display: flex;
  justify-content: center;

  @include media(desktop) {
    max-width: max-content;
    margin-left: 0;
    margin-right: auto;
  }
}

.hero-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-bg-img {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);

  @include media(desktop) {
    bottom: 0;
    right: 0;
    left: auto;
    transform: none;
  }
}
