.privacy-body {
  background: #fff;
}

.policy-section {
  padding-top: 76px;
  padding-bottom: 32px;

  @include media(desktop) {
    padding-top: 122px;
    padding-bottom: 90px;
  }
}

.policy-main-title {
  font-family: 'Wallpoet', sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 1.14286;
  text-transform: uppercase;
  color: #101010;
  margin-bottom: 18px;

  @include media(desktop) {
    font-size: 48px;
    margin-bottom: 36px;
  }
}

.policy-title {
  font-family: 'Wallpoet', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #101010;
  margin-bottom: 1em;

  @include media(desktop) {
    font-size: 48px;
    margin-bottom: 36px;
  }
}

.policy-subtitle {
  font-family: 'Turret Road', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22222;
  letter-spacing: 0.02em;
  color: #101010;
  margin-bottom: 1em;

  @include media(desktop) {
    font-size: 36px;
  }
}

.policy-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #101010;

  &:not(:last-child) {
    margin-bottom: 1em;
  }

  @include media(desktop) {
    font-size: 18px;
  }
}

.policy-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  word-wrap: break-word;
}

.support-link {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  word-wrap: break-word;
}

.policy-span {
  font-weight: 500;
}
